<% provide(:title, "Home") %>

<div class="row">
  <%= link_to "New Post", new_post_path, class: "btn btn-info btn-block" %>
</div>

<%# if current_user %>
  <!-- <h2>My posts</h2>
  <div class="row"> -->
    <%#= render @my_posts %>
  <!-- </div> -->
<%# end %>

<h2 class="py1">All posts</h2>
<div class="row">
  <%= render @posts %>
</div>
